body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(45deg, #57c6e1, #a65eff);
  background-size: 600% 600%;
  animation: gradientAnimation 150s ease infinite;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

h1 {
  margin-top: 50px;
  color: white;
}

#game-container {
  margin-top: 50px;
}

#image-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

#answer-input {
  margin-bottom: 10px;
}

#submit-button,
#hint-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#submit-button:hover,
#hint-button:hover {
  background-color: #45a049;
}

#hint {
  font-style: italic;
  margin-top: 20px;
}

#message {
  margin-top: 20px;
}

#level {
  margin-top: 20px;
  color: white;
}

img {
  max-width: 30%;
  height: auto;
}